.body {
    font-family: "Montserrat", sans-serif;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
  }


  
  /* Navigation Bar */

  .logoimage {
    width: 3rem;
    transition: transform 0.3s ease;
    transform: translateY(0px);
    z-index: 0;
  }
  
  
  .logoShadowBegining{
    position: absolute;
    animation: fadeOutAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: -25px 10px 20px 15px  yellow;
    z-index: 1;
  }
  
  @keyframes fadeOutAnimation {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.4;
     }
  }
  
  .logoimage:hover{
    transform: translateY(-5px);
  }
  
  .logoimage:hover ~ .logoShadow{
    position: absolute;
    box-shadow: -25px 5px 20px 15px  yellow;
    opacity: 0.5;
    z-index: 1;
  }
  
  
  .navbar {
    padding: 0 0 4rem;
  }
  
  #navbarContainer {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-brand {
    font-weight: 900;
    font-family: "Ubuntu", sans-serif;
  }
  
  .nav-item {
    padding: 0 20px;
  }
  
  #NavBarLastItem {
    padding-right: 0;
  }
  
  @media (max-width: 991px) {
    .navbar {
      padding: 0 0 0;
     ;
    }
  }
  


  /* Title Section */
  
  #title {
    background-color: #141e61;
    color: #eeeeee;
  }
  
  .lightTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    margin: auto;
  }
  
  .container-fluid {
    padding: 1% 10%;
  }
  
  .titleSectionText {
    font-size: 1.1rem;
  }
  
  .titleImage {
    width: 100%;
  }
  


  /* Buy Button */
  
  .buy-button {
    margin: 3% 3% 5% 0;
    background-color: #610094;
    border-color: #3f0071;
    color: #eeeeee;
  }
  
  .buy-button:hover {
    color: #eeeeee;
    background-color: #3f0071;
    border-color: #3f0071;
  }
  
  .button-image {
    transform: rotate(-25deg);
    padding-right: 10px;
  }
  


  /* Features Section */

  #features {
    padding: 7% 5%;
  }
  .features-image {
    font-size: 4rem;
    padding: 20px 0;
    color: #141e61;
  }
  
  .features-image:hover {
    color: #0e1542;
  }
  
  .features-h3 {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
  }
  
  .features-col {
    padding: 0 5%;
  }
  
  .features-p {
    color: #8f8f8f;
  }
  


  /* Testimonials Section */
  
  #testimonials {
    text-align: center;
    background-color: #141e61;
    color: #eeeeee;
  }
  
  .testimonials-heading {
    padding-top: 3%;
  }
  
  #testimonial-carousel {
    object-fit: cover;
  }
  .testimonials-tex {
    font-family: "Montserrat", sans-serif;
    font-weight: 1;
    font-size: 1rem;
    line-height: 1.5;
  }
  .testimonialImage {
    width: 10rem;
    border-radius: 100%;
    margin: 20px;
  }
  
  .compony-logo {
    display: block;
    width: 10rem;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .carousel-item {
    padding: 0% 10%;
  }


  
  /* Press Section  */
  
  #press {
    background-color: #141e61;
    color: #eeeeee;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .press-images {
    width: 10rem;
    margin: 20px 20px 50px;
  }
  
  .graduates-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  


  /* Pricing Section */
  
  #pricing {
    padding: 0 10%;
    text-align: center;
  }
  
  .pricing-heading {
    padding-top: 3%;
  }
  .pricing-cards {
    padding-top: 3%;
  }
  
  .andriod-card {
    color: #32de84;
  }
  
  .apple-icon-card {
    color: white;
  }
  
  .apple-card {
    color: black;
  }
  
  .web-card {
    color: #4287f5;
  }
  
  .price-card {
    background-color: #141e61;
    color: #eeeeee;
  }
  
  .price-card-button {
    color: #eeeeee;
    background-color: #141e61;
  }
  
  .price-card-button:hover {
    color: #eeeeee;
    background-color: #0e1542;
  }
  


  /* Requirements section */
  
  #requirements {
    font-family: "Montserrat", sans-serif;
    background-color: #141e61;
    color: #eeeeee;
    text-align: center;
    list-style: inside;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .requirement-list {
    line-height: 3;
    list-style: none;
  }
  


  /*  Footer section  */
  
  #footer {
    font-family: "Montserrat", sans-serif;
    padding-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1;
    padding-bottom: 10px;
  }
  
  .social-icon {
    color: #141e61;
    font-size: 2rem;
    padding: 1% 1%;
    transition: all 0.2s ease-in-out;
  }
  
  .social-icon.fa-linkedin:hover {
    color: #0c1341;
    transform: scale(1.5);
  }
  
  .social-icon.fa-gitlab:hover {
    color: #0c1341;
    transform: scale(1.5);
  }
  
  .social-icon.fa-envelope:hover {
    color: #0c1341;
    transform: scale(1.5);
  }
  
  .copy-right {
    margin-top: 30px;
  }
  .footer-link {
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #0c1341;
  }